

nav { 

    text-align: center;
    background-color: darkgrey;
    color: whit;
}
main { text-align: center;
    background-color:skyblue;
} 
footer {
    text-align: center;
    background-color: darkgray;
}